/* Editor */
.visage-editor {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .formgroup {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    label {
      flex: 1;
    }
  }

  .code {
    border: 1px solid #ccc;
    padding: 0.25rem;
    word-break: break-all;
    width: 15rem;
    height: 3rem;
  }

  button {
    background: white;
    border: 2px solid #888;
    border-radius: .25rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 0;

    &.selected {
      border: 2px solid blue;
       box-shadow: 0 0 0 3px rgba(0, 144, 237, 0.4);
    }

    &.choice {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }
  }
}
