.visage {
  aspect-ratio: 1/ 1;

  svg {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--backgroundFill);

    * {
      stroke-width: var(--strokeWidth) !important;
    }

    #shirt {
      fill: var(--bodyFill) !important;
      stroke: var(--bodyStroke) !important;
    }


    [id^="eyebrows-"] {
      stroke: var(--hairStroke) !important;
      fill: var(--hairFill) !important;
    }

    [id^="hair-"] {
      stroke: var(--hairStroke) !important;
      fill: var(--hairFill) !important;
    }

    [id^="face-"] {
      stroke: var(--faceStroke) !important;
      fill: var(--faceFill) !important;
    }

    #neck {
      stroke: var(--faceStroke) !important;
      fill: var(--faceFill) !important;
    }

    [id^="ear-"] {
      stroke: var(--faceStroke) !important;
      fill: var(--faceFill) !important;
    }

    [id^="mouth-front"] {
      stroke: var(--faceStroke) !important;
    }

    [id^="mouth-back"] {
      fill: var(--mouthFill) !important;
    }

    [id^="eye-white"] {
      stroke: var(--faceStroke) !important;
    }

    [id^="eye-mask"] {
      fill: var(--faceFill) !important;
    }

    [id^="eye-iris"] {
      fill: var(--eyeFill) !important;
    }

    [id^="eye-outline"] {
      stroke: var(--faceStroke) !important;
    }

    #nose {
      stroke: var(--faceStroke) !important;
    }
  }
}

/* Eyes variants */
[id^="eyes-"] {
  display: none !important;
}

[data-eyes-variant="1"] #eyes-1 {
  display: inline !important;
}

[data-eyes-variant="2"] #eyes-2 {
  display: inline !important;
}

/* Mouth variants */
#mouth-1,
#mouth-2 {
  display: none !important;
}

[data-mouth-variant="1"] #mouth-1 {
  display: inline !important;
}

[data-mouth-variant="2"] #mouth-2 {
  display: inline !important;
}

/* face variants */
#face-1,
#face-2 {
  display: none !important;
}

[data-face-variant="1"] #face-1 {
  display: inline !important;
}

[data-face-variant="2"] #face-2 {
  display: inline !important;
}

/* hair variants */
#hair-1,
#hair-2 {
  display: none !important;
}

[data-hair-variant="1"] #hair-1 {
  display: inline !important;
}

[data-hair-variant="2"] #hair-2 {
  display: inline !important;
}


/* eyebrows variants */
#eyebrows-1,
#eyebrows-2 {
  display: none !important;
}

[data-eyebrows-variant="1"] #eyebrows-1 {
  display: inline !important;
}

[data-eyebrows-variant="2"] #eyebrows-2 {
  display: inline !important;
}
