.visage {
  aspect-ratio: 1/ 1;

  svg {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--backgroundFill);

    * {
      stroke-width: 1.75 !important;
    }

    [id^="clothing-"] {
      fill: var(--clothingFill) !important;
      stroke: var(--clothingStroke) !important;
    }

    [id^="eyebrows-"] {
      stroke: var(--hairFill) !important;
      fill: var(--hairFill) !important;
    }

    [id^="hair-"] {
      stroke: var(--hairStroke) !important;
      fill: var(--hairFill) !important;
    }

    [id^="face-"] {
      stroke: var(--skinStroke) !important;
      fill: var(--skinFill) !important;
    }

    #neck {
      stroke: var(--skinStroke) !important;
      fill: var(--skinFill) !important;
    }

    [id^="ear-"] {
      stroke: var(--skinStroke) !important;
      fill: var(--skinFill) !important;
    }

    [id^="mouth-front"] {
      stroke: var(--skinStroke) !important;
    }

    [id^="mouth-back"] {
      fill: var(--mouthFill) !important;
    }

    [id^="eye-white"] {
      stroke: var(--skinStroke) !important;
    }

    [id^="eye-mask"] {
      fill: var(--skinFill) !important;
    }

    [id^="eye-iris"] {
      fill: var(--eyeFill) !important;
    }

    [id^="eye-outline"] {
      stroke: var(--skinStroke) !important;
    }

    #nose {
      stroke: var(--skinStroke) !important;
    }
  }
}

/* Eyes variants */
[id^="eyes-"] {
  display: none !important;
}

[data-eyes-variant="1"] #eyes-1 {
  display: inline !important;
}

[data-eyes-variant="2"] #eyes-2 {
  display: inline !important;
}

/* Mouth variants */
#mouth-1,
#mouth-2 {
  display: none !important;
}

[data-mouth-variant="1"] #mouth-1 {
  display: inline !important;
}

[data-mouth-variant="2"] #mouth-2 {
  display: inline !important;
}

/* face variants */
#face-1,
#face-2 {
  display: none !important;
}

[data-face-variant="1"] #face-1 {
  display: inline !important;
}

[data-face-variant="2"] #face-2 {
  display: inline !important;
}

/* hair variants */
#hair-1,
#hair-2 {
  display: none !important;
}

[data-hair-variant="1"] #hair-1 {
  display: inline !important;
}

[data-hair-variant="2"] #hair-2 {
  display: inline !important;
}

/* hair back */
#hair-back-1,
#hair-back-2 {
  display: none !important;
}

[data-hair-back-variant="1"] #hair-back-1 {
  display: inline !important;
}

[data-hair-back-variant="2"] #hair-back-2 {
  display: inline !important;
}

/* eyebrows variants */
#eyebrows-1,
#eyebrows-2 {
  display: none !important;
}

[data-eyebrows-variant="1"] #eyebrows-1 {
  display: inline !important;
}

[data-eyebrows-variant="2"] #eyebrows-2 {
  display: inline !important;
}

/* clothing variants */
#clothing-1,
#clothing-2,
#clothing-3,
#clothing-4 {
  display: none !important;
}

[data-clothing-variant="1"] #clothing-1 {
  display: inline !important;
}

[data-clothing-variant="2"] #clothing-2 {
  display: inline !important;
}

[data-clothing-variant="3"] #clothing-3 {
  display: inline !important;
}

[data-clothing-variant="4"] #clothing-4 {
  display: inline !important;

  #clothing-4-back,
  #clothing-4-col {
    fill: white !important;
    stroke: #aaa !important;
  }
}
