.visage {
  aspect-ratio: 1/ 1;
  border: 3px solid white;
  box-shadow: 2px 2px 5px 1px #0000004d;
  border-radius: 100%;
  overflow: hidden;
}

.visage-editor {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .formgroup {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    label {
      flex: 1;
    }
  }

  button.choice {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    cursor: pointer;
  }
}
